.home-posts-article {
    border-top: 1px solid var(--vp-c-divider);
    justify-content: space-between;
    padding: 10px 0;
}

.home-posts-article p {
    margin: 10px 0;
}

.home-posts-article .home-posts-article-title {
    color: var(--vp-c-text-1);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none !important;
}
